<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
	<connectionStrings>
		<add
		  name="defaultdb"
		  connectionString="Data Source=DESKTOP-36875F2\SQLEXPRESS;Initial Catalog=PakAsia_HRMS;Persist Security Info=True;User ID=sa;Password=abcd@1234"
		  providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>